<h4>Showing selected article</h4>

<h1>Title: <%= @article.title %></h1>

<h3>
  Description: <%= @article.description %>
</h3>

  <div class="col-xs-6 col-xs-offset-6">
    <%= link_to "Back to article listing", articles_path, { :class=>"btn btn-default btn-sm" } %>
    <%= link_to "Edit", edit_article_path(@article), { :class=>"btn btn-default btn-sm" } %>
  </div>

