<div id="footer" class="container">
  <footer class="footer">
    <div class="row">
      <div class="col-md-6">
        <p>Copyright &copy; <a href="https://seowisedesigns.com">The Complete Ruby on Rails Developer</a> by <a href="http://seowisedesigns.com">Ariel Retes</a></p>
      </div>
      <div class="col-md-6 text-right">
        <p><%= link_to "About", about_path %></p>
      </div>
    </div>
  </footer>
</div>